{% extends "main/base.html" %}

{% block title %}

{% endblock %}

{% block content %}
    <form method="post" action="#">
        {% csrf_token %}
        
        {% for td in user.todolist.all %}
            <ul class="list-group list-group-horizontal">
                    <a class="list-group-item flex-fill" href="/{{td.id}}">{{td.name}}</a>
                    <button type="submit", name="deleteList", value="{{td.id}}", class="btn btn-success">Delete</button>
            </ul>
        {% endfor %}
        
    </form>
{% endblock %}